#pagetop{
    background-color:lightblue;
}

#activate{
    background-color:green;
}

#perles{
    background-color: lightgray;
}

#pagebottom{
    background-color: darkslategrey;
}
.btn-dark{
	background-color: black;
	color: white;
}
